matplotlib~=3.3.4
numpy~=1.19.5
scikit-image~=0.17.2
imutils~=0.5.4
segmentation-models~=1.0.1
requests~=2.25.1
PyYAML~=5.4.1
python-telegram-bot~=13.5
Pillow~=8.1.2
python-dotenv~=0.17.1
googledrivedownloader~=0.4